/* BOTONES */

.btn-primary {
    background-color: map-get($colors, color-black);
    color: map-get($colors, color-white);
}

.btn {
    color: map-get($colors, color-white);
    border: 1px solid #fff;
}
    .btn:hover,
    .btn:focus {
    color: map-get($colors, color-black);
    background-color: map-get($colors, color-white);
    border: 1px solid #000;
}

/* FIN BOTONES */ 

/* TITULOS DE SECCIONES */  

.title {
    text-align: center;
    font-size: 40px;
    color: map-get($colors, color-red);
}

.sub-title{
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}

/* FIN TITULOS DE SECCIONES */ 

/* CARDS IMAGES */


.card {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;

    img {
        height: 100%;
    }
}

/* FIN CARDS IMAGES */

/* PUBLICIDAD */

.carousel-inner {
    border: 2px solid #000;
}

/* FIN PUBLICIDAD */

/* ARTICULO ASIDE */

.aside-container {
    padding: 1rem;   
}

/* FIN ARTICULO ASIDE */

/* FORMULARIO DE CONTACTO */ 

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: map-get($colors, color-black);
    margin: 50px auto;   
    padding: 10px;
    border: 8px solid #131826;
    outline: 4px solid #f7f7f7;
    max-width: 1000px;
}

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}

.form__input {
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #f7f7f7;
    background: transparent;
    color: map-get($colors, color-white);
}

.form__input:focus {
    background: linear-gradient(to bottom, transparent, #1a1c21);
    outline: none;
    border-bottom: 3px solid #757171;
}

.form textarea {
    min-height: 140px;
    resize: none;
}

.form-img {
    flex: 1;
    padding: 10px;
    display: flex;
    min-width: 300px;
    max-width: 400px;
    order: 2;
}

.form-img div {
    padding: 10px;  
}

.img-container {
    margin: auto;  
}

.img-container div {
    background-color: map-get($colors, color-white);
    border-radius: 50%;
    text-align: center;
    padding: 20px;
}

.form-img img {
    width: 100%;
}

.form input[type="submit"] {
    background-color: map-get($colors, color-black);
    width: 103%;
    border-bottom: none;
    border-color: map-get($colors, color-white);
    padding: 10px;
}

.form input[type="submit"]:hover {
    background-color: map-get($colors, color-grey);
    border-bottom: none;
    padding: 10px;
}

.form input[type="submit"]:focus {
    background: map-get($colors, color-grey);
}

.form input[type="submit"]:active {
    background: linear-gradient(to bottom, #131826, #757171);
}